<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{::bar.name}}">

  <!--Header-->
  <ion-nav-buttons side="right">
    <button class="button icon-left" ng-class="{'button-assertive ion-thumbsdown': bar.sync.members[user.$id], 'button-balanced ion-thumbsup': !bar.sync.members[user.$id]}" ng-click="Bars.opt(bar)">
      {{bar.sync.members[user.$id] ? "Not Coming" : "Coming"}}
    </button>
    <button class="button icon ion-person-add" ng-controller="InviteFriendsCtrl" ng-click="openModal()"></button>
  </ion-nav-buttons>

  <!--Content-->
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img ng-src="{{::bar.image_url}}" style="width: 80px; height: 80px" />
        <p>{{::bar.snippet_text}}</p>
      </ion-item>
      <ion-item ng-if="bar.sync.count>0">
        {{bar.sync.count}} are people coming.
      </ion-item>
      <a class="item item-icon-left" href="https://maps.google.com/?q={{::bar.location.coordinate.latitude}},{{::bar.location.coordinate.longitude}}">
        <i class="icon ion-map"></i>
        {{::bar.distance*0.000621371192 | number:2}} miles away
      </a>
      <chat-list chat-id="bar.id"></chat-list>
    </ion-list>
  </ion-content>

  <ion-footer-bar />

</ion-view>
