<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item>
        <button class='zocial facebook' style="width:100%" ng-click="Auth.facebook()" ng-if="!user.facebook.id">Login or Register</button>
        <div ng-if="user.facebook.id">Logged in as {{user.facebook.displayName}}</div>
      </ion-item>

      <!--<ion-item class="item-toggle">-->
        <!--Enable Friends-->
        <!--<label class="toggle">-->
          <!--<input type="checkbox" ng-model="settings.enableFriends">-->
          <!--<div class="track">-->
            <!--<div class="handle"></div>-->
          <!--</div>-->
        <!--</label>-->
      <!--</ion-item>-->

    </ion-list>
  </ion-content>
</ion-view>
