<div class="item item-divider">
  Chat
</div>

<div class="item item-input-inset">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" ng-model="data.text" />
  </label>
  <button ng-click="send()" class="button button-small button-icon icon ion-android-send footer-btn" ng-disabled="!data.text" />
</div>

<div class="item" ng-if="chats.length<1">
  No messages, be the first to say something.
</div>
<ion-item class="item-avatar item-text-wrap" ng-repeat="chat in chats | toArray | orderBy:'-timestamp'" ng-init="profile=Friends.get(chat.user)">
  <img ng-src='{{profile.picture}}' ui-sref="app.friend-show({friendId:profile.$id})" />
  <h2>{{profile.name}}</h2>
  <p>{{::chat.text}}</p>
  <p>
    <a class="subdued">
      <i class="ion-clock"></i>
      &nbsp;{{chat.timestamp | date:'short'}}
    </a>
  </p>
</ion-item>
