<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <ion-item
        class="item-thumbnail-left item-icon-right"
        ng-class="{'denied-request': user.friends[k]==Friends.DENIED}"
        ng-repeat="(k,v) in user.friends"
        ng-init="friend=$firebase(ref.users.child(k)).$asObject()"
        type="item-text-wrap"
        href="#/app/friends/{{::friend.$id}}">

        <img ng-src="{{friend.picture}}" />
        <h2>{{friend.name}}</h2>

        <div class="icon multi-icon" ng-if="user.notifs.chats[chatId(user.$id, friend.$id)]">
          <span class="badge badge-assertive">
            <!--{{data.chats.length}}-->
            <i class="ion-chatbubbles"></i>
          </span>
        </div>

        <div ng-if="user.friends[k]==Friends.PENDING" class="button-bar">
          <a class="button button-positive" ng-click="approve(friend, Friends.APPROVED)">Approve</a>
          <a class="button button-assertive" ng-click="approve(friend, Friends.DENIED)">Deny</a>
        </div>

        <a ng-if="user.friends[k]==Friends.DENIED" class="button button-positive" ng-click="approve(friend, Friends.APPROVED)">Approve</a>


        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
