<ion-view view-title="{{friend.name}}">

  <!--Header-->
  <ion-nav-buttons side="right">
    <button class="button icon" ng-class="{'ion-ios7-heart-outline': !user.friends[friend.$id], 'ion-ios7-heart': user.friends[friend.$id]}" ng-click="favorite(friend)"></button>
  </ion-nav-buttons>

  <!--Content-->
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img ng-src="{{friend.picture}}">
        <h3>{{friend.name}}</h3>
      </ion-item>
    </ion-list>
    <chat-list chat-id="[user.$id, friend.$id]"></chat-list>
  </ion-content>

  <ion-footer-bar />

</ion-view>
