<ion-view view-title="{{friend.name}}">

  <!--Header-->
  <ion-nav-buttons side="right">
    <button
      class="button icon"
      ng-class="{'ion-ios-star-outline': user.friends[friend.$id]!==Friends.APPROVED, 'ion-ios-star': user.friends[friend.$id]===Friends.APPROVED}"
      ng-click="favorite(friend)">
    </button>
  </ion-nav-buttons>

  <!--Content-->
  <ion-content class="padding">
    <div class="list">
      <div class="item item-thumbnail-left">
        <img ng-src="{{friend.picture}}">
        <h3>{{friend.name}}</h3>
      </div>
      <chat-list chat-id="[user.$id, friend.$id]" ng-if="user.friends[friend.$id]===Friends.APPROVED"></chat-list>
    </div>
  </ion-content>

</ion-view>
