<ion-view view-title="Bars">

  <!--Header-->
  <ion-nav-buttons side="right">
    <button class="button icon button-icon ion-search" ng-click="data.searching = !data.searching"></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher  pulling-text="Pull to refresh..." on-refresh="refresh(true)"></ion-refresher>

    <ion-list>

      <label class="item item-input" ng-if="data.searching">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="data.search" autofocus />
      </label>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" collection-repeat="bar in bars | filter:data.search" type="item-text-wrap" href="#/app/bars/{{::bar.id}}">
        <img ng-src="{{::bar.image_url}}" />
        <h2>{{::bar.name}}</h2>
        <p>
          {{::bar.snippet_text}}<br/>
          <span>{{::bar.distance*0.000621371192 | number:2}} miles away</span>
        </p>

        <div class="icon multi-icon">
          <span class="badge badge-assertive" ng-if="user.notifs.invites[bar.id]">
            <i class="ion-beer"></i>
          </span>
          <span class="badge" ng-if="bar.sync.count>0" ng-class="{'badge-assertive': user.notifs.rsvps[bar.id]}">
            {{bar.sync.count}}
            <i class="ion-person-stalker"></i>
          </span>
          <span class="badge" ng-if="bar.chats.length>0" ng-class="{'badge-assertive': user.notifs.chats[bar.id]}">
            {{bar.chats.length}}
            <i class="ion-chatbubbles"></i>
          </span>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
