ion-view(view-title='{{::bar.name}}')

  // Header
  ion-nav-buttons(side='right')
    button.button.icon.ion-person-add(ng-controller='InviteFriendsCtrl', ng-click='openModal()')

  // Content
  ion-content.padding
    .list
      .item.item-text-wrap.item-thumbnail-left.item-icon-right(system-link="::bar.mobile_url")
        img(ng-src='{{::bar.image_url}}', style='width: 80px; height: 80px')
        p {{::bar.snippet_text}}
        i.icon.icon-accessory.ion-chevron-right
      .item.item-button-right
        | {{bar.sync.rsvps[user.$id] ? 'You are joining tonight' : 'You are not joining tonight'}}
        button.button.button-small(ng-class="{'button-assertive': bar.sync.rsvps[user.$id], 'button-balanced': !bar.sync.rsvps[user.$id]}", ng-click='Bars.rsvp(bar)')
          | {{bar.sync.rsvps[user.$id] ? 'Leave' : 'Join'}}
      .item.item-icon-right(ng-if='bar.sync.count>0', ng-click='data.show_rsvps=!data.show_rsvps')
        | {{bar.sync.count}} are people coming
        i.icon.icon-accessory(ng-class="{'ion-chevron-right':!data.show_rsvps, 'ion-chevron-up':data.show_rsvps}")
        ion-list(ng-if='data.show_rsvps')
          ion-item.item-avatar(ng-repeat='(uid,v) in bar.sync.rsvps', href='#/app/friends/{{::profile.$id}}', ng-init='profile=Friends.get(uid)')
            img(ng-src='{{::profile.picture}}')
            h2 {{::profile.name}}

      //-.item.item-icon-left.item-icon-right(system-link='::bar.location.coordinate.latitude+","+bar.location.coordinate.longitude', is-map)
      .item.item-icon-left.item-icon-right(system-link='::bar.location.display_address[0]+" "+bar.location.display_address[2]', is-map)
        i.icon.ion-map
        | {{::bar.distance*0.000621371192 | number:2}} miles away
        i.icon.icon-accessory.ion-chevron-right

      //- Adds a "Deals" divider, commented out becuase I've never seen more than one deal, and this adds clutter if only one deal.
        .item.item-divider.item-balanced(title='Deals', ng-if='::bar.deals')
          | Deals
        .item.item-icon-left.item-icon-right(ng-if='::bar.deals', ng-repeat='deal in ::bar.deals', system-link='::deal.url')
          i.icon.ion-pricetag
          | {{::deal.title}}
          i.icon.icon-accessory.ion-chevron-right
      .item.item-icon-left.item-icon-right.item-balanced(ng-if='::bar.deals', system-link='::bar.deals[0].url')
        i.icon.ion-pricetag
        | {{::bar.deals[0].title}}
        i.icon.icon-accessory.ion-chevron-right


      chat-list(chat-id='bar.id', type='bar')
