doctype html
html
  head
    script.
      // As soon as we can, wake up our Heroku server. It sleeps, and makes the bars list seem laggy 1st-load
      (function () {
        var wakeup = new XMLHttpRequest();
        wakeup.open('GET', 'https://flashdrinks-server.herokuapp.com', false);
        wakeup.send(null);
      })();

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title Flashdrinks
    link(href='css/styles.css', rel='stylesheet')
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src='js/scripts.js')
    script(src='js/templates.js')
    script(src='cordova.js')
    script(src='bower_components/ngCordova/dist/ng-cordova.min.js')
  body(ng-app='app')
    ion-nav-view
