//- https://www.docracy.com/6513/mobile-privacy-policy-geolocated-apps-
doctype html
html
  head
    title Privacy Policy
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    link(href='css/styles.css', rel='stylesheet')
    script(src='js/scripts.js')
    script.
      angular.module('privacy', ['ionic']);
  body(ng-app='privacy')
    ion-header-bar
      h1.title Privacy Policy
      //- This is a model privacy policy, designed to be as generic as possible. We are not attorneys. We encourage those using this this model to consult a lawyer and have it reviewed by an expert as the language should change according to what your app does.
    ion-content
      .list
        .item.item-text-wrap
          p This privacy policy governs your use of the software application Flashdrinks ("Application") that was created by OCDevel LLC. The Application is a social network for finding nearby drinking (alcohol) partners.

        .item.item-text-wrap.item-divider What information does the Application obtain and how is it used?
        //- This section is designed to inform Users of the types of data that the app obtains and how that information is used. You'll find several types of data that are often obtained by apps, but you should provide Users with a clear, illustrative list of the most important data points obtained by your app.
        .item.item-text-wrap
          strong: p User Provided Information
          p The Application obtains the information you provide when you download and register the Application. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us.
          //- Alternative language if you don't allow unregistered users: "Registration with us is mandatory in order to be able to use the basic features of the Application." (On the other hand, you might want to specify you don't let user register at all, but still list the information you collect).
          //- Mobile application developers should be aware that certain types of data, for example, medical records and certain types of financial information may be subject to existing privacy law, or any other current or future state, federal law, regulation, restriction, etc. Application developers creating apps that collect potentially sensitive information are encouraged to obtain counsel to ensure that their data collection policies are in line with current law in the jurisdiction(s) where the app may be used. If you collect credit card information, we strongly encourage you seek the advice of a professional to ensure PCI compliance and other specific security requirements.
          p When you register with us and use the Application, you generally provide (a) your name, email address, user name, password and other registration information; (b) transaction-related information, such as when you make purchases, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) credit card information for purchase and use of the Application, and; (e) information you enter into our system when using the Application, such as contact information and project management information.
          //- This list is not comprehensive. Adjust it according to what your app actually asks for.
          p We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.

          strong: p Automatically Collected Information
          //- If the Application collects information from and/or for social networking platforms (e.g., pulling contact information, friends lists, login information, photos or check-ins) you should ensure that the prior consent of the user is obtained.
          p In addition, the Application may collect certain information automatically, including, but not limited to your GPS coordinates, the type of device you use, your device's unique device ID, the IP address of your device, your operating system, the type of Internet browsers you use, and information about the way you use the Application.
          p If you register via social login (including, but not limited to Facebook, Google, Twitter), the Application may collect your email address, display name, profile picture, and a list of friends. We may use the information collected to contact your from time to time to provide you with important information, required notices and marketing promotions. We may use your friends list to help you locate nearby friends.
          //- Again, this list is not comprehensive. Adjust it according to what your app actually asks for.

        .item.item-text-wrap.item-divider Does the Application collect precise real time location information of the device?
        //- This section is only applicable if the Application collects precise, real-time location information. Geo-targeting (e.g., zip code or city) data should be also addressed in the section above (“Automatically Collected Information". If your app DOES NOT use geolocation, check out the generic parent of this document here: https://www.docracy.com/6016/mobile-privacy-policy
        .item.item-text-wrap
          p When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location (latitude and longitude coordinates) and display a list of relevant drinking venues. We will not share your current location with other users or partners.
          //- This only a sample description. Change the above paragraph it according to what your app actually does with geolocated data (e.g. allow tagging, check-in) and, if applicable, describe the circumstances where precise location data is shared with third parties for their independent use.
          //- p If you do not want us to use your location for the purposes set forth above, you should turn off the location services for the mobile application located in your account settings or in your mobile phone settings and/or within the mobile application.

        .item.item-text-wrap.item-divider Do third parties see and/or have access to information obtained by the Application?
        //- Generally, app developers will want to have the right to transfer information collected by the app under certain circumstances. For example, if the app developer sells the app, the developer may want that information collected by the application transferred as part of the sale. While some of the more common examples of data transfer to third parties are provided, you are encouraged to work with counsel and/or privacy professional to determine if other examples should be included in the policy.
        .item.item-text-wrap
          p Yes. We will share your information with third parties only in the ways that are described in this privacy statement.
          p We may disclose User Provided and Automatically Collected Information:
          .list.card
            .item as required by law, such as to comply with a subpoena, or similar legal process;
            .item when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request;
            .item with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.
            .item if OCDevel LLC is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.
          //- If your app works with advertisers and analytics companies your policy needs to have an Automatic Data Collection and Advertising section. Check out the specific branch here: LINK

        .item.item-text-wrap.item-divider What are my opt-out rights?
        //- If your app uses geolocation or taps into advertising services, check the appropriate branches linked above.
        .item.item-text-wrap
          p You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at tylerrenelle@gmail.com.

        .item.item-text-wrap.item-divider Data Retention Policy, Managing Your Information
        .item.item-text-wrap
          p We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the Application, please contact us at tylerrenelle@gmail.com and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.

        .item.item-text-wrap.item-divider Minors
        //- Your app has to comply with the Children’s Online Privacy Protection Act (COPPA). Developers should pay particular attention to COPPA when creating apps that contain cartoon characters or other features that may cause the app to be perceived as being directed towards children under 13. Consider including language in your Terms of Service that makes users represent they are of age. Application developers creating apps that might be governed under COPPA or similar laws are encouraged to obtain counsel to ensure that their data collection policies are in line with current law in the jurisdiction(s) where the app may be used.
        .item.item-text-wrap
          p We do not use the Application to knowingly solicit data from or market to minors under the age of 21. If you become aware that a minor is using the Application, please contact us at tylerrenelle@gmail.com. We will delete their account from our files within a reasonable time.

        .item.item-text-wrap.item-divider Security
        //- Application developers should ensure that their security procedures are reasonable, and should provide an overview of their security procedures below.
        .item.item-text-wrap
          p We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.

        .item.item-text-wrap.item-divider Changes
        .item.item-text-wrap
          p This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy <a href='/privacy.html'>here</a> and informing you via email, if provided upon registration. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by clicking <a href='https://github.com/asm-products/flashdrinks/commits/master/src/privacy.html'>here</a>.

        .item.item-text-wrap.item-divider Your Consent
        .item.item-text-wrap
          p By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards.

        .item.item-text-wrap.item-divider Contact us
        .item.item-text-wrap
          p If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at tylerrenelle@gmail.com.